<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<<<<<<< HEAD

	<div class="row container">
    	<div class="small-centered small-12 medium-9 medium-centered large-12 large-centered column centered corps2">
		  <h1>STATIC_ADDRESS</h1>
		</div>
	</div>

	
=======
	<div data-magellan-expedition="fixed">
		<!--search box, logo, login/logout dropbox and user info is loged in-->
		<a href=<%= link_to "LOGIN", login_path %>>LOG IN</a>
            <ul class="dropdown">
			</ul>
  		<dl class="sub-nav">
    <dd data-magellan-arrival="build"><a href="#build">Build with HTML</a></dd>
    <dd data-magellan-arrival="js"><a href="#js">Arrival 2</a></dd>
  </dl>
</div>
<h1>HELLLOOOO</h1>
		<%= link_to "LOGIN", login_path %></br>
		<%= link_to "LOGOUT", sessions_path, method: :delete %>
<%= link_to "Posts", posts_path %></br>
<%= link_to "Make a New Post", new_post_path %></br>
>>>>>>> 34b26eb4b5dee3d3351545aae5565c78e1fad5a5
</body>
</html>
