<div class="container">
	<div class="row">
		<div id="title-row-show" class="small-6 small-centered columns">
			<h1><%= @post.title %></h1>
			<h3><%= @post.artist %></h3>
			<h5><%= @post.genre %></h5>
		</div>
	</div>

	<div class="row">
		<div id="content-row-show" class="small-12 columns">
			<p><%= @post.content %></p>
		</div>
	</div>

	<div id="media-row" class="row">
		<div class="small-12 medium-6 columns">
			<h3>User Info</h3>
		</div>
		<div style="border-left:1px solid #000;height:200px" class="small-12 medium-6 columns">
			<div id="target"></div>
		</div>
	</div>


</div>
<script type="application/javascript">
	var mediaNum = "<%= @post.media_selection %>";
	console.log(mediaNum)
	var url = "<%= raw(@post.soundfile) %>";
</script>
