<h4>Have An Account? Login...</h4>

<p style="color: red"><%= flash[:error] %></p>

<%= form_tag(sessions_path) do %>
<%= text_field_tag :name, nil, placeholder: 'Enter Name' %></br>
<%= password_field_tag :password, nil, placeholder: 'Password' %></br>
<%= button_tag('Login') %>
<% end %>

<h4>Sign Up Now!!!</h4>

 <% if @user.errors.any? %>
        <div id="error-explanation">
          <p><%= pluralize(@user.errors.count, "error")%> prohibited this user from being saved:</p>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li style="color: red"><%= message %></li>
          <% end %>
        </ul>
        </div>
        <% end %>

      <%= form_for @user do |f| %>
      <%= f.text_field :name, placeholder: 'Name' %></br>
      <%= f.password_field :password, placeholder: 'Password' %></br>
      <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %></br>
      <%= f.button 'Signup' %>
      <% end %>

<script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
<script>
//THIS WAS TAKEN FROM THE SOUNDCLOUD API SITE.
// initialize client with app credentials
SC.initialize({
  client_id: 'ac24d5a198b560ccacf99079a16767e7',
  redirect_uri: 'http://localhost:3000/login'
});

// initiate auth popup
SC.connect(function() {
  SC.get('/me', function(me) {
    alert('Hello, ' + me.username);
  });
});
</script>
