<div class="row">
  <div class="small-6 small-centered columns">

    <h4 id="login_text">Login</h4>
    <p style="color: red"><%= flash[:error] %></p>
    <%= form_tag(sessions_path) do %>
    <%= text_field_tag :name, nil, placeholder: 'Enter Name' %></br>
    <%= password_field_tag :password, nil, placeholder: 'Password' %></br>
    <div class="small-4 large-4 small-centered large-centered columns"><a class="button tiny" href="/posts">Login</a></div>

    <% end %>


    <h4 id="signup_text">Sign Up</h4>

    <% if @user.errors.any? %>
     <div id="error-explanation">
       <p><%= pluralize(@user.errors.count, "error")%> prohibited this user from being saved:</p>
       <ul>
       <% @user.errors.full_messages.each do |message| %>
       <li style="color: red"><%= message %></li>
       <% end %>
       </ul>
     </div>
    <% end %>

    <%= form_for @user do |f| %>
    <%= f.text_field :name, placeholder: 'Name' %></br>
    <%= f.password_field :password, placeholder: 'Password' %></br>
    <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %></br>
    <div class="small-4 large-4 small-centered large-centered columns" id="signup_button"><a class="button tiny" href="/posts">Sign Up</a></div>
    <% end %>

  </div>
</div>


